<div>
  <button mat-button color="accent">Click me</button>
  <button mat-raised-button color="primary">Click me</button>
  <button mat-flat-button color="warn">Click me</button>
  <button mat-stroked-button color="accent">click me</button>
</div>

<div>
  <button mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-fab>
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-mini-fab>
    <mat-icon>delete</mat-icon>
  </button>
  <mat-button-toggle>toggle</mat-button-toggle>
  <mat-slide-toggle (change)="slideToggleChange($event)"
    class="example-margin"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
    Slide me!
  </mat-slide-toggle>
</div>
