<mat-toolbar color="primary">
  <div class="row nav">
    <div class="col-3">
      <button mat-icon-button>
        <mat-icon (click)="openCloseDrawer()">menu</mat-icon>
      </button>
    </div>
    <div class="col-5">
      <span>My App</span>
    </div>
    <div class="col-2">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div class="col-2">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="flex-container">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi cum dolore eius harum, maiores nesciunt nihil
    numquam odit provident quisquam quo saepe sapiente soluta tempora veritatis vero voluptas! Earum est natus
    necessitatibus nihil nulla, officiis sint tempora vel voluptates.</h1>
  <h1>hello</h1>
  <h1>hello</h1>
  <h1>hello</h1>
</div>


